@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  background: teal;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.select_all {
  display: flex;
  align-items: center;
}

.select_all p {
  font-size: 20px;
  margin: 10px;
}

.select_all .checkbox_box {
  font-size: 90px;
  padding: 60px;
}

section {
  width: 100%;
  background: yellow;
  padding: 20px;
}

span {
  padding: 5px 7.5px;
  background-color: #fff;
}

.input_box {  
  width: 100%;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}
.list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid hotpink;
  margin-bottom: 10px;
  
}

.item_list_container {
  display: flex;
  align-items: center;
  max-height: 100px;
  /* background-color: red; */
  width: 100%;
  padding: 10px;
}

 a {
 margin-left: 5px;
 font-size: 30px;
}

i {
  padding: 30px;
  font-size: 20px;
}