@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  /* min-width: 400px; */
}

header {
  display: flex;
  background: #4ea1d3;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px 10px 0 0;
}

.select_all_box {
  display: flex;
  align-items: center;
}

.select_all_box p {
  font-size: 20px;
  margin: 10px;
}

.select_all_box .checkbox_box {
  font-size: 90px;
  /* padding: 60px; */
}

.container {
  min-width: 600px;
  
}

section {
  background: #f9f7f1;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

span {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 3px;
}

.fas.fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.fas.fa-check.active {
  display: flex;
  color:#4ea1d3;
  font-size: 20px;
  padding: 6px;
}

.fas.fa-trash {
  transition: font-size .1s ease-in-out;
}

.fas.fa-trash:hover {
  font-size: 28px;
  transform: rotate(360deg);
}

.input_box {  
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #4ea1d3;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  
}

.icon_box {
  color: rgb(161, 161, 161);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
}





.item_list_container {
  display: flex;
  align-items: center;
  max-height: 100px;
}

 a {
 margin-left: 10px;
 font-size: 30px;
 color: black;
}

.button {
  padding: 20px;
  background: #4ea1d3;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: rgba(71, 153, 207, 0.8);
}

