@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  background: teal;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.select_all {
  display: flex;
  align-items: center;
}

.select_all p {
  font-size: 20px;
  margin: 10px;
}

.select_all .checkbox_box {
  font-size: 90px;
  padding: 60px;
}

section {
  width: 100%;
  background: yellow;
  padding: 20px;
}

span {
  /* padding: 10px; */
  height: 30px;
  width: 30px;
  background-color: rgb(252, 0, 0);
}

.fas.fa-check {
  position: relative;
  top: 25%;
  left: 25%;
}



.input_box {  
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
  border: none;
}
.list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid hotpink;
  margin-bottom: 10px;
  
}

.item_list_container {
  display: flex;
  align-items: center;
  max-height: 100px;
  /* background-color: red; */
  width: 100%;
  padding: 10px;
}

 a {
 margin-left: 5px;
 font-size: 30px;
}

.fas.fa-trash {
  padding: 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.add_button {
  padding: 20px;
  background: teal;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.delete_button {
  padding: 20px;
  background: teal;
  margin-top: 10px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

